#clockcontainer{
    position : relative;
    margin : auto;
    height : 40vw;
    width :40vw;
    background-color: red;
    background: url(clock.png) no-repeat;
    background-size: 100% ;
    border-color: black;
    
}
#hour, #minute , #second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width : 2%;
    height : 18%;
    top :24%;
    left : 50%;
    opacity : 0.8;
}
#minute{
    width : 1%;
    height : 20%;
    top :21%;
    left : 50%;
    opacity : 0.8;
}
#second{
    width : 0.8%;
    height : 22%;
    top :20%;
    left : 50%;
    opacity : 0.6;
}